# 1. pandas 데이터 프레임

In [36]:
import pandas as pd

### 1. 리스트에서 데이터프레임 생성하기

In [37]:
rowFirst = ["A01",202015, 100]
rowSecond = ["A01",202015, 100]
rowThird = ["A01",202015, 100]

In [38]:
df1 = pd.DataFrame([rowFirst,rowSecond, rowThird])

In [39]:
columnName = ["REGIONID","YEARWEEK","QTY"]

In [40]:
df1.columns = columnName

In [41]:
columnFirst = ["A01", "A01", "A01"]
columnSecond = [202015,202016,202017]
columnThird = [100,110,150]

In [42]:
df2 = pd.DataFrame(zip(columnFirst, columnSecond,columnThird))

In [43]:
df2.columns = columnName

In [44]:
df2

  REGIONID  YEARWEEK  QTY
0      A01    202015  100
1      A01    202016  110
2      A01    202017  150

# 1. 라이브러리 선언

In [330]:
import pandas as pd

from bs4 import BeautifulSoup ## 태그를 아름답게 뜬다
import requests ## 웹페이지 접속 요청(소스코드 가져오기)

# 2. 타겟 URL 선언 및 접속

In [331]:
targetUrl = "http://sparkkorea.com/퀴즈"

resp = requests.get(url=targetUrl)

resp.encoding="utf-8"

html = resp.text

htmlObj = BeautifulSoup(html, "html.parser")

# 3. 태그 접근하기

In [332]:
htmlObj.findAll(name = "a",limit=3)

[<a class="skip-link screen-reader-text" href="#content">컨텐츠로 건너뛰기</a>,
 <a href="https://sparkkorea.com/" rel="home">
 					스파크 코리아				</a>,
 <a href="https://sparkkorea.com/%ec%9e%90%eb%a3%8c%ec%8b%a4/">자료실</a>]

In [336]:
htmlObj.find(name = "a")

In [337]:
targetParent = htmlObj.find(name = "a",attrs={"id":"id_spark_quiz"})

In [338]:
eachTag = targetParent.find(name = "a")

AttributeError: 'NoneType' object has no attribute 'find'

### 3-2 태그내 속성정보로 원하는 정보 찾기

In [120]:
atags

[<a href="https://forms.gle/Fw49w9GhWQChDcZm7"> 6/13 Spark 심화과정 </a>,
 <a href="https://forms.gle/G4TcXm3fKuHLHA6D6"> 6/13 Spark 기본과정 </a>,
 <a href="https://forms.gle/M8gr1kC2ubA3UDVp8"> 6/18 Spark [MAP_FILTER] </a>,
 <a href="https://forms.gle/h8w5mZ4MNaPLCPbi6"> 6/18 Spark GroupBy 심화 </a>,
 <a href="https://forms.gle/q5yL6QHfueDLM5w27"> 6/25 Spark RDD 실전 분석 </a>,
 <a href="https://forms.gle/Gxb4y6LfVYiaLu4M7"> 6/27 Spark RDD 실전 분석2 </a>]

In [171]:
eachTag.text

' 6/13 Spark 심화과정 '

In [90]:
eachTag.attrs["href"]

'https://forms.gle/Fw49w9GhWQChDcZm7'

In [103]:
atags = targetParent.findAll(name = "a")

valueList = []

eachTags = atags[0]

tagText = eachTags.text

valueList.append(tagText)

valueList

[' 6/13 Spark 심화과정 ']

In [104]:
atags = targetParent.findAll(name = "a")

for i in range(0, len(atags)):
    # 각 태그정보 수집
    eachTags = atags[i]
    tagText = eachTags.text
    
    
    # 리스트에 태그내 text 정보 append하기
    valueList.append(tagText)

In [105]:
pd.DataFrame( valueList, columns = ["퀴즈타이틀"])

                       퀴즈타이틀
0           6/13 Spark 심화과정
1           6/13 Spark 심화과정
2           6/13 Spark 기본과정
3   6/18 Spark [MAP_FILTER]
4     6/18 Spark GroupBy 심화
5      6/25 Spark RDD 실전 분석
6     6/27 Spark RDD 실전 분석2

In [126]:
targeturl = htmlObj.find(name = "div",attrs={"id":"id_spark_quiz"})

eacheach = targeturl.find(name = "a")

List1 = eacheach[0]

tagText = List1.attrs["href"]

valueList2 = []

valueList2.append(tagText)
valueList2

In [170]:
eachList1 = targeturl.findAll(name = "a")

for i in range(0,len(eacheach)):
    #각 태그 정보 수집하기
    List1 = eachList1[i]
    tagText2 = List1.attrs["href"]
    
    #리스트에다가 태그내 attrs 정보 append 하기
    valueList2.append(tagText2)
valueList2

['https://forms.gle/Fw49w9GhWQChDcZm7',
 'https://forms.gle/Fw49w9GhWQChDcZm7',
 'https://forms.gle/G4TcXm3fKuHLHA6D6',
 'https://forms.gle/M8gr1kC2ubA3UDVp8',
 'https://forms.gle/h8w5mZ4MNaPLCPbi6',
 'https://forms.gle/q5yL6QHfueDLM5w27',
 'https://forms.gle/Gxb4y6LfVYiaLu4M7',
 'https://forms.gle/Fw49w9GhWQChDcZm7']

In [160]:
columnName = ["퀴즈타이틀" , "링크정보"]

In [161]:
dfa = pd.DataFrame(zip(valueList,valueList2))

In [163]:
dfa.columns = columnName

In [164]:
dfa

                       퀴즈타이틀                                 링크정보
0           6/13 Spark 심화과정   https://forms.gle/Fw49w9GhWQChDcZm7
1           6/13 Spark 심화과정   https://forms.gle/Fw49w9GhWQChDcZm7
2           6/13 Spark 기본과정   https://forms.gle/G4TcXm3fKuHLHA6D6
3   6/18 Spark [MAP_FILTER]   https://forms.gle/M8gr1kC2ubA3UDVp8
4     6/18 Spark GroupBy 심화   https://forms.gle/h8w5mZ4MNaPLCPbi6
5      6/25 Spark RDD 실전 분석   https://forms.gle/q5yL6QHfueDLM5w27
6     6/27 Spark RDD 실전 분석2   https://forms.gle/Gxb4y6LfVYiaLu4M7

# 테이블 row 데이터별로 가지고 오기

# 테이블스크랩

In [339]:
import requests, bs4
import pandas as pd

In [340]:
targetUrl = "http://sparkkorea.com/테스트"

resp = requests.get(url=targetUrl)

resp.encoding="utf-8"

html = resp.text

htmlObj = BeautifulSoup(html, "html.parser")

In [341]:
tabletag = htmlObj.find(name = "table",attrs={"id":"test_table"})

In [342]:
tbodytag = tabletag.find(name="tbody")

In [351]:
coulumnList = []
rowList = []

In [352]:
trs = tbodytag.findAll(name ="tr")

In [353]:
for i in range(0, len(trs)):
    eachtr = trs[i]
    tds = eachtr.find_all("td")
    
    for j in range(0,len(tds)):
        eachtd = tds[j]
        coulumnList.append(eachtd.text)
        
    rowList.append(coulumnList)
    
    coulumnList = []

In [354]:
pd.DataFrame(rowList)

     0    1
0  101  김효관
1  102  이순신
2  103  김어진

# * ssg : 멀티밤 검색정보 크롤링

In [1114]:
## 1. 라이브러리 정의

from bs4 import BeautifulSoup
import requests, bs4
import pandas as pd

## 2. 데이터 불러오기

targetUrl = "http://www.ssg.com/search.ssg?target=all&query=%ED%81%90%ED%8B%B0%ED%81%B4%EC%98%A4%EC%9D%BC"
resp = requests.get(url=targetUrl)
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:71.0) Gecko/20100101 Firefox/71.0'}
resp=requests.get(targetUrl,headers=headers)
resp.encoding="utf-8"
html = resp.text
htmlObj = BeautifulSoup(html, "html.parser")

## 3. 제품명 데이터 찾기

allTable = htmlObj.find(name = "ul",attrs={"class":"cunit_thmb_lst cunit_thmb_lst4 cunit_thmb_w1000"})
productTable = allTable.findAll(name = "em",attrs={"class":"tx_en"})

productNameTable = []

## 제품명 테이블 생성
for i in range(0,len(productTable)):
    eachData = productTable[i]
    productName = eachData.text
    productNameTable.append(productName)

## 3-1. 가격 데이터 찾기

priceTable = allTable.find(name = "div",attrs={"class":"opt_price"})
priceData = allTable.findAll(name = "div",attrs={"class":"ssg_price_ko show_gl hide_ko"})

priceList = []

for i in range(0,len(priceData)):
    eachdata = priceData[i]
    price = eachdata.text
    priceList.append(price)

## 3-2. 브랜드명 데이터 찾기

allProductTable = allTable.findAll(name = "div",attrs={"class":"title"})

nameList = []

## split을 이용하여 브랜드명의 테이블 생성
for i in range(0,len(allProductTable)):
    a = allProductTable[i].text
    b = a.split('\n\n')
    c = b[1].split('\n')
    d = c[0].split(",")
    title = c[0]
    nameList.append(title)

## 4. 데이터테이블 zip하기 / 컬럼명 지정하기

columnName = ["브랜드명","제품명","가격"]

pd.DataFrame(zip(nameList,productNameTable,priceList), columns = columnName)

          브랜드명                                           제품명         가격
0          위드샨                                아보카도 네일&큐티클 오일   (￦4,000)
1   포포크림 파파야골드                   포포크림 25g  [99%자연유래 꿀보습 멀티밤]   (￦8,213)
2    바렌(BAREN)                          바렌 네일&큐티클오일펜 리페어 에센스   (￦6,675)
3          록시땅                   시어 버터 네일 앤 큐티클 너리싱 오일 7.5ml  (￦22,800)
4        1300K                                     뷰티끄 큐티클오일   (￦5,900)
..         ...                                           ...        ...
75        라라핑거   럭셔리(탑코트/큐티클오일/핸드&네일세럼/골드/실버/네이비) 6ml 6종 SET  (￦26,010)
76        아트박스                   아트박스/베르니아 옹글스 오일 인 큐티클 푸셔 펜   (￦6,720)
77        라라핑거  크러쉬(탑코트/큐티클오일/핸드&네일세럼/레드/버건디/네이비) 6ml 6종 SET  (￦26,010)
78        네일나라  Caren cuticle oil 카렌큐티클오일(16oz)덕용 (S2496446)  (￦30,000)
79        라라핑거             2nd 어린이 유아 건강한 수성매니큐어 네일 큐티클오일6ml   (￦2,794)

[80 rows x 3 columns]

## * 다이소몰[베트남쌀국수]

In [533]:
# 1. 라이브러리 정의

import pandas as pd
from bs4 import BeautifulSoup
import requests

# 2. 데이터 불러오기
targetUrl =  "https://www.daisomall.co.kr/shop/search.php?search_text=%EB%B2%A0%ED%8A%B8%EB%82%A8%EC%8C%80%EA%B5%AD%EC%88%98&x=0&y=0"

resp = requests.get(url=targetUrl)

resp.encoding="utf-8"

html = resp.text

htmlObj = BeautifulSoup(html, "html.parser")


# 3. 배열 및 컬럼테이블 생성
nameList = []
priceList = []
columnName = ["제품정보","가격정보"]

# 4. 데이터 불러오기
## 1) 모든데이터
allData = htmlObj.find(name="ul",attrs={"class":"search_goods_list_box float01"})
## 2) 제품데이터
productData = allData.findAll(name="a",attrs={"class","block oh"})
## 3) 가격데이터
priceData = allData.findAll(name="strong",attrs={"class":"color_2a"})

# 5. 반복문 실행(제품)
for i in range(0,len(productData)):
    productName = productData[i].text
    allProductName = productName.text
    nameList.append(allProductName)

## 반복문 실행(가격)
for j in range(0,len(priceData)):
    price = priceData[j]
    allPrice = price.text
    priceList.append(allPrice)

# 6. 데이터 완성
pd.DataFrame(zip(nameList,priceList),columns=columnName)

                                    제품정보     가격정보
0             (대림) 베트남 쌀국수풍 어묵탕360g x24개  61,500원
1             (대림) 베트남 쌀국수풍 어묵탕360g x12개  33,100원
2           현지에서 먹은 바로 그 맛 베트남 쌀국수 4EA번들   2,680원
3             nk821-멀티아크릴액자_베트남쌀국수(4단대형)  74,000원
4         [오뚜기] 컵누들 베트남 쌀국수 컵 (47g) x 15  19,900원
5     오뚜기 컵누들 베트남쌀국수 용기 88.5g x 12개(1박스)  16,610원
6              (1900760) 컵라면 베트남 쌀국수 1박스  17,600원
7        (청정원) 베트남쌀국수 맵고진한소고기맛75.4g x12개  25,900원
8            (청정원) 베트남쌀국수 소고기맛75.4g x12개  25,900원
9         (청정원) 베트남쌀국수 맵고진한소고기맛75.4g x6개  14,900원
10            (청정원) 베트남쌀국수 소고기맛75.4g x6개  14,900원
11               (롯데) 쉐푸드 베트남쌀국수297g x4개  37,400원
12                비폰 쌀국수 치킨향 30입/ 베트남쌀국수  19,900원
13                몬 분짜소스 295ml 베트남식 소바소스   4,100원
14                      베트남식 쌀국수 장국 220g   3,430원
15      베트남 쌀국수 라면 비폰 포가 PHO GA 60g 봉지라면     750원
16                        AHG베트남쌀국수소스50g   3,300원
17  베트남 쌀국수 라면 비폰 포보 PHO BO 60gX30개/1Box  18,500원
18      베트남 쌀국수 라면 비폰 포보 PHO BO 60g 봉지라면     750원
19              [HIMORN]베트남식 쌀국수 장국 220g   3,900원
20        오라이시 후티우 남방 71gX24개 베트남 즉석 쌀국수  26,700원
21   베트남 쌀국수 라면 비폰 포가 PHO GA 60gX30개/Box  21,000원
22        포가 수아 치킨 플레이버 70g 베트남 쌀국수 봉지라면   1,090원
23          오라이시 후티우 남방 71g 베트남 인스턴트 쌀국수   1,100원
24                     tc410-아크릴액자_베트남요리  32,000원
25                        비폰 치킨향 쌀국수 60g     650원
26           NPE 먹는 쌀 빨대 95+5개입 먹을수있는 빨대   9,500원
27                     사포코 버미셀리 쌀국수 300g   2,250원
28                  오라이시 포코 쌀국수 3mm 500g   3,200원
29                 비치치 후티우코 쌀국수 2mm 500g   3,200원
30                  비폰 후티우코 쌀국수 2mm 500g   3,200원
31                   비폰 반포코 쌀국수 4mm 500g   3,200원
32            장미표 월남쌈 반다넴 버미셀리 모음 라이스페이퍼   2,450원
33                     장미표 버미셀리 쌀국수 300g   2,700원
34                 충격흡수 범퍼 식객케이스(베가아이언2)  24,800원
35                 충격흡수 범퍼 식객케이스(갤럭시노트2)  24,800원
36                  충격흡수 범퍼 식객케이스(갤럭시S5)  24,800원
37                  충격흡수 범퍼 식객케이스(갤럭시S4)  24,800원
38                 충격흡수 범퍼 식객케이스(갤럭시노트3)  24,800원
39                     충격흡수 범퍼 식객케이스(G3)  24,800원

## *Holidays and Observances in South Korea in 2021
# CASE 1) 컬럼별 리스트=>zip하여 총리스트생성

In [1111]:
## 1. 라이브러리 정의

import pandas as pd
from bs4 import BeautifulSoup
import requests

## 2. 데이터 불러오기

targetUrl =  "https://www.timeanddate.com/holidays/south-korea/"
resp = requests.get(url=targetUrl)
resp.encoding="utf-8"
html = resp.text
htmlObj = BeautifulSoup(html, "html.parser")

## 3. 데이터 분류

## 모든데이터
alldata = htmlObj.find(name="tbody")
allinformation = htmlObj.findAll(name="tbody")
## 날짜
date = alldata.findAll(name="th",attrs={"class":"nw"})
## 요일
dayweek = alldata.findAll(name="td",attrs={"class":"nw"})
## 기념일
nameOfDay = alldata.findAll(name="a")
## 분류
dataOfType = htmlObj.findAll(name="td")

## 4. 반복문 실행 후 배열 생성

## date, dayweek,nameoftheDay 배열 생성
dateList = []
dayweekList = [ㅡ]
nameOfDayList = []

for i in range(0,len(date)):
    dateData = date[i].text
    dayweekData = dayweek[i].text
    nameOfDayData = nameOfDay[i].text

    dateList.append(dateData)
    dayweekList.append(dayweekData)
    nameOfDayList.append(nameOfDayData)

## 인덱스가 다른 기념 Type데이터 배열 생성
dataOfTypeList = []

for i in range(2,len(dataOfType),+3):
    dataOfType1 = dataOfType[i]
    dataOfTypeData = dataOfType1.text
    dataOfTypeList.append(dataOfTypeData)

## 컬럼배열 생성 후 전체 파일에 넣어주기
columnName = ["date","dayweek","nameOftheDay","Type"]

## 5. 최종 데이터 생성

pd.DataFrame(zip(dateList,dayweekList,nameOfDayList,dataOfTypeList),columns=columnName)

## *Holidays and Observances in South Korea in 2021
# CASE 2) 전체 rowList로 배열 생성하기

In [1104]:
# 1. 라이브러리 정의
import pandas as pd
from bs4 import BeautifulSoup
import requests


## 2. 데이터 불러오기
targetUrl =  "https://www.timeanddate.com/holidays/south-korea/"
resp = requests.get(url=targetUrl)
resp.encoding="utf-8"
html = resp.text
htmlObj = BeautifulSoup(html, "html.parser")

## 3. 데이터 분류하기
alldata = htmlObj.find(name="tbody")


## 4. 반복문 실행 후 데이터 생성
columnNameList = ["date","dayoftheweek","Name","Type"]
columnList = []
rowList = []

trs = alldata.findAll(name="tr")

for i in range(0,len(trs)):
    eachtr = trs[i]
    exeption = eachtr.attrs["id"]
    if exeption[0:3]=="hol":
        continue  
    
    tds = eachtr.findAll("td")
    ths = eachtr.findAll(name="th",attrs={"class":"nw"})

    for j in range(0,len(ths)):
        eachth = ths[j]
        eachths = eachth.text
        columnList.append(eachths)
        
        for k in range(0,len(tds)):
            eachtd = tds[k]
            eachtds = eachtd.text
            columnList.append(eachtds)

    rowList.append(columnList)
    columnList = []

In [1110]:
pd.DataFrame(rowList,columns=columnNameList)

       date dayoftheweek                       Name              Type
0     1월 1일          금요일             New Year's Day    Public Holiday
1    2월 11일          목요일            Seollal Holiday    Public Holiday
2    2월 12일          금요일                    Seollal    Public Holiday
3    2월 13일          토요일            Seollal Holiday    Public Holiday
4    2월 14일          일요일            Valentine's Day        Observance
5     3월 1일          월요일  Independence Movement Day  National holiday
6    3월 20일          토요일              March Equinox            Season
7     4월 5일          월요일                  Arbor Day        Observance
8     5월 1일          토요일                  Labor Day      Bank Holiday
9     5월 5일          수요일             Children's Day    Public Holiday
10    5월 8일          토요일               Parents' Day        Observance
11   5월 15일          토요일              Teacher's Day        Observance
12   5월 19일          수요일          Buddha's Birthday    Public Holiday
13    6월 6일          일요일               Memorial Day    Public Holiday
14   6월 21일          월요일              June Solstice            Season
15   7월 17일          토요일           Constitution Day        Observance
16   8월 15일          일요일             Liberation Day  National holiday
17   9월 20일          월요일            Chuseok Holiday    Public Holiday
18   9월 21일          화요일                    Chuseok    Public Holiday
19   9월 22일          수요일            Chuseok Holiday    Public Holiday
20   9월 23일          목요일          September Equinox            Season
21   10월 1일          금요일           Armed Forces Day        Observance
22   10월 3일          일요일    National Foundation Day  National holiday
23   10월 9일          토요일   Hangeul Proclamation Day  National holiday
24  10월 31일          일요일                  Halloween        Observance
25  12월 22일          수요일          December Solstice            Season
26  12월 24일          금요일              Christmas Eve        Observance
27  12월 25일          토요일              Christmas Day    Public Holiday
28  12월 31일          금요일             New Year's Eve        Observance