# 1. 라이브러리 불러오기

In [1]:
pwd

'C:\\WINDOWS\\system32'

In [3]:
import pandas as pd

# 2. 데이터불러오기

In [4]:
pd.read_csv("d:/sellOutData.csv")

  regionid productid  yearweek  qty
0      a01   prd0001    202001  100
1      a01   prd0002    202002  150

In [5]:
pwd

'C:\\Users\\SMART-14\\practice'