## 1) 라이브러리 정의

In [4]:
import pandas as pd
import numpy as np

## 2) 데이터 불러오기

In [7]:
csData = pd.read_csv("../dataset/customerdata.csv",encoding="ms949")

In [8]:
csData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [9]:
testDF=["A"]

In [10]:
angryCustomer = \
    pd.DataFrame(list(csData.CUSTID[0:3]),
    columns = ["CSID"])

In [11]:
angryList = list(angryCustomer.CSID)

In [13]:
csData.loc[csData.CUSTID.isin(angryList)]

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog

In [14]:
import pandas as pd
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/customerData.csv")

In [15]:
# 타겟 컬럼 정의 및 조회
targetColumns = ["CUSTID","AVGPRICE"]
customerDataC = customerData.loc[ : , "CUSTID":"DEVICECOUNT" ]
customerDataC = customerData.loc[ : , targetColumns ]

In [16]:
customerDataC

     CUSTID     AVGPRICE
0    A13566  4273.900000
1    A14219  3642.441950
2    A15312  3653.884565
3    A16605  3713.211107
4    B10634  3391.074215
..      ...          ...
145  Z13253  3678.800000
146  Z13534  3662.437527
147  Z16428  3516.500000
148  Z16735  3300.100000
149  Z19835  3326.526183

[150 rows x 2 columns]

In [17]:
customerData.iloc[:,0:3]

     CUSTID     AVGPRICE  EMI
0    A13566  4273.900000    3
1    A14219  3642.441950    2
2    A15312  3653.884565    2
3    A16605  3713.211107    2
4    B10634  3391.074215    2
..      ...          ...  ...
145  Z13253  3678.800000    2
146  Z13534  3662.437527    3
147  Z16428  3516.500000    2
148  Z16735  3300.100000    2
149  Z19835  3326.526183    2

[150 rows x 3 columns]

In [18]:
customerData.columns.get_loc("CUSTID")

0

In [19]:
# 데이터 VIEW
customerDataC.head(2)

customerDataC2 = customerDataC.copy() ## copy는 이렇게 하는게 정석임

customerDataC2.CUSTID = 1

customerDataC2

     CUSTID     AVGPRICE
0         1  4273.900000
1         1  3642.441950
2         1  3653.884565
3         1  3713.211107
4         1  3391.074215
..      ...          ...
145       1  3678.800000
146       1  3662.437527
147       1  3516.500000
148       1  3300.100000
149       1  3326.526183

[150 rows x 2 columns]