## 예제 1

In [20]:
## 1) 라이브러리 정의

import pandas as pd
import numpy as np

## 2) 데이터 불러오기

csData = pd.read_csv("../dataset/customerdata.csv",encoding="ms949")
testDF=["A"]

angryCustomer = \
    pd.DataFrame(list(csData.CUSTID[0:3]),
    columns = ["CSID"])

angryList = list(angryCustomer.CSID)
csData.loc[csData.CUSTID.isin(angryList)]

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog

## 예제 2

In [18]:
## 1) 라이브러리 정의 및 파일 불러오기

import pandas as pd
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/customerData.csv")

## 2) 타겟 컬럼 정의 및 조회

targetColumns = ["CUSTID","AVGPRICE"]
customerDataC = customerData.loc[ : , "CUSTID":"DEVICECOUNT" ]
customerDataC = customerData.loc[ : , targetColumns ]

## 3) index로 데이터 조회하기
customerData.iloc[:,0:3] 

customerData.columns.get_loc("CUSTID")
emi3Data=customerData.loc[customerData.EMI == 3]
emi3Data.reset_index(drop=True,inplace=True) # 인덱스 변경하기

# 데이터 조회하기 VIEW
customerDataC.head(2)
customerDataC2 = customerDataC.copy() ## copy는 이렇게 하는게 정석임
customerDataC2.CUSTID = 1

## 예제 3

In [11]:
## 1) 라이브러리 선언

import pandas as pd
import numpy as np

## 2) 데이터 불러오기

kopo_customerData = pd.read_csv("../dataset/kopo_customerdata.csv")

# 3) 특정 컬럼 정의, 불러오기

targetColumns = ["STATENAME","GENDER"]
targetData = kopo_customerData.loc[ : , targetColumns]

# 4) 첫 5개 행 조회

targetData.head()

  STATENAME  GENDER
0    State2    Male
1    State2    Male
2    State2  Female
3    State2    Male
4    State2    Male

# * 데이터 조작하기 (이게 젤젤 중요함!!!!!!!!)
##### 1. NP.WHERE 조작한다. (*복잡한 로직에는 힘들어진다)
##### 2. 함수를 활용하여 조작한다. ( * 복잡한 로직에도 강하다)
##### 3. loc 함수를 활용해서 조작한다.(* 가독성이 뛰어나나 속도가 떨어진다)
##### 4. map 함수를 사용할 수도 있다.(머신러닝에서 많이 사용된다!)

In [154]:
## 1) 라이브러리 선언
import numpy as np

## 2) 데이터 불러오기
customerData = pd.read_csv("../dataset/customerData.csv")

## 3) 컬럼 조회하기
customerData.columns # 컬럼으로 조회

## 1) np.where 방식

In [153]:
customerData["PRODUCTAGE_NEW"] = \
    np.where(customerData.PRODUCTAGE<1,1,0) ## 1보다 작은애들을 다 1로 바꿨음

customerData.loc[(customerData.PRODUCTAGE>=1) & 
                     (customerData.PRODUCTAGE_NEW !=customerData.PRODUCTAGE)] ## 따라서 여기서 1이 아니면서 1보다 작은애들은 없어야함

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW
0,A13566,4273.900000,3,6,1.679181,Big-Screen-lover,0
1,A14219,3642.441950,2,4,2.682023,Sleeping-dog,0
2,A15312,3653.884565,2,5,3.208202,Sleeping-dog,0
4,B10634,3391.074215,2,4,2.453656,Sleeping-dog,0
5,B16849,3755.263391,2,4,2.786665,Sleeping-dog,0
...,...,...,...,...,...,...,...
144,Z12772,3029.600000,2,4,2.093035,Big-Screen-lover,0
145,Z13253,3678.800000,2,5,2.463670,Big-Screen-lover,0
147,Z16428,3516.500000,2,5,2.371301,Big-Screen-lover,0
148,Z16735,3300.100000,2,5,1.704942,Big-Screen-lover,0
149,Z19835,3326.526183,2,6,1.200000,Early-bird,0

## 2) 함수활용

In [16]:
# 함수정의 
# inputValue < 1 => 1  
# 1 <= inputValue < 2 => 2  
# 이외 inputValue => 3

def valueClustering(inValue):

    # inValue = 0.3
    outValue = inValue

    if inValue < 1:
        outValue = 1
    elif inValue < 2:
        outValue = 2
    else : 3

    return outValue

customerData["PRODUCTAGE_NEW"]=customerData.PRODUCTAGE.apply(valueClustering)

## loc함수를 활용해서 조작
customerData.loc[customerData.PRODUCTAGE<1,\
                 "PRODUCTAGE_NEW"] = 1

NameError: name 'customerData' is not defined

## 3) loc방식

In [12]:
customerData.loc[customerData.PRODUCTAGE<1 ,\
                     "PRODUCTAGE_NEW"]=1

customerData.loc[(customerData.PRODUCTAGE>=1) &
                 (customerData.PRODUCTAGE<2),\
                     "PRODUCTAGE_NEW"]=2

customerData.loc[customerData.PRODUCTAGE>=2 ,
                     "PRODUCTAGE_NEW"]=3

customerData.loc[(customerData.PRODUCTAGE<1) &\
                 (customerData.PRODUCTAGE_NEW !=1) ]

customerData.CUSTID.str.lower() +\ "_"+\
customerData.EMI.astype(str)

## 4) map 함수

In [179]:
featuresData = \
    pd.read_csv("../dataset/feature_regression_example.csv")

ynMap = {"Y":1, "N":0}
featuresData["HOLIDAY_NEW"]=featuresData.HOLIDAY.map(ynMap)

def ynDecimalConvert(inValue):
    if inValue =="Y":
        outValue = 1
    else:
        outValue = 0
    return outValue

featuresData.HOLIDAY.apply(ynDecimalConvert)