# 구글링크

# 1. 라이브러리 선언

In [1]:
import pandas as pd
import numpy as np

In [12]:
selloutData = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv",encoding="ms949")

In [23]:
selloutData.

<bound method NDFrame.describe of        REGIONID    PRODUCT  YEARWEEK      QTY
0           A60   PRODUCT4    201402     71.0
1           A60  PRODUCT59    201402  22275.0
2           A60  PRODUCT34    201402   4463.0
3           A60  PRODUCT47    201402      0.0
4           A60  PRODUCT56    201402     23.0
...         ...        ...       ...      ...
124653      A10  PRODUCT60    201630    824.0
124654      A10  PRODUCT56    201630    275.0
124655      A10  PRODUCT61    201630      0.0
124656      A10  PRODUCT12    201630  15021.0
124657      A10   PRODUCT1    201630    568.0

[124658 rows x 4 columns]>

In [20]:
yearAndWeek = 4
selloutData["YEAR"]=selloutData.YEARWEEK.str[:yearAndWeek]
selloutData["WEEK"]=selloutData.YEARWEEK.str[yearAndWeek:]

AttributeError: Can only use .str accessor with string values!

In [ ]:
## YEARWEEK에서 나눠야할 연도, 주차 길이 정의
yearAndWeek = 4

## YearAndWeek를 기준으로 데이터 나누기
selloutTypeData["YEAR"]=selloutTypeData.YEARWEEK.str[:yearAndWeek]
selloutTypeData["WEEK"]=selloutTypeData.YEARWEEK.str[yearAndWeek:]

In [18]:
selloutData.loc[(selloutData.REGIONID=="A01")]

       REGIONID    PRODUCT  YEARWEEK       QTY
47          A01  PRODUCT75    201403   23768.0
48          A01   PRODUCT8    201403     105.0
49          A01  PRODUCT19    201403    1513.0
50          A01  PRODUCT20    201403      59.0
51          A01  PRODUCT47    201403    4436.0
...         ...        ...       ...       ...
122490      A01  PRODUCT12    201632  215174.0
122491      A01   PRODUCT1    201632    1242.0
122492      A01  PRODUCT33    201632   14900.0
122493      A01  PRODUCT14    201632   24566.0
122494      A01  PRODUCT62    201632   16827.0

[3611 rows x 4 columns]

In [ ]:
customerData.loc[(customerData.PRODUCTAGE>=1) & 
                     (customerData.PRODUCTAGE_NEW !=customerData.PRODUCTAGE)] ## 따라서 여기서 1이 아니면서 1보다 작은애들은 없어야함

In [6]:
customerData = pd.read_csv("../사원.csv",encoding="ms949")

In [8]:
customerData.columns

Index(['사원번호', '사원명', '직급코드', '근무지코드', '부서코드', '상급자사원번호', '급여', '입사일'], dtype='object')