In [15]:
pwd

'C:\\Users\\SMART-14\\practice'

In [16]:
import pandas as pd

In [6]:
#현재 시간정보를 가져온다.
currentTime = 2
currentMinutes = 25
print (a+b)

22

In [7]:
#현재 시간 및 분 정보를 더한다.
sumTimeMinutes = currentTime + currentMinutes

In [ ]:
#결과값을 출력한다.
print(sumTimeMinutes)

In [ ]:
# 아래 코드의 문제점은?
# 문제점 1 : 나만 볼 수 있다
# 문제점 2 : 주석이 없다.
# 문제점 3 : 변수명이 형편없다.
# 문제점 4 : 실시간성을 반영하지 않는다.

In [ ]:
a = 2
b = 3
print(a+b)

In [9]:
#날짜계산 라이브러리 (datetime) 선언
import datetime as dt

In [11]:
currentDate = dt.datetime.now()

In [14]:
#현재 시간 및 분 정보 저장
currentMin = currentDate.minute
currentHour = currentDate.hour

In [19]:
#현재 시간 및 분 정보 합 계산 및 출력
sum_time = currentMin + currentHour
print(sum_time)

54

In [20]:
print( "현재시간은 : {} \n현재 분은 : {}".\
        format(currentMin, currentHour))

현재시간은 : 40
현재 분은 : 14

In [22]:
#쌍따옴표, 따옴표, 트리플따옴표로 문자임을 아렬준다
"smart", "fintech"

('smart', 'fintech')

In [28]:
firstLetter = """smart "fintech" lecture"""
secondLetter = "fintech"

In [29]:
firstLetter + secondLetter

'smart "fintech" lecturefintech'

In [30]:
inputval1 = 1
inputval2 = "1"

In [34]:
type(inputval1)

int

In [41]:
# 연, 주차 정보 길이 설정
yearLen = 4
weekLen = 2

# 입력데이터
inValue = "202103"

In [42]:
inValue[0:yearLen]

'2021'

In [45]:
len(inValue)

6

In [47]:
yearInfo = inValue[:yearLen]

In [48]:
weekInfo = inValue[yearLen:]
weekInfo

'03'

In [52]:
#문자열 개수세기 (count)
yearweek = "2017W28wwww"
print(yearweek.count("W"))

1

문자

##문자

In [56]:
#문자열 위치확인 (index)
yearweek = '21Ww03'
print(yearweek.index('W'))

2

In [57]:
# 대소문자 구별함수 (upper/lower)
letters = "LeD_tv"
print(letters.upper())
print(letters.lower())

LED_TV
led_tv

In [59]:
userInput = "haiteam"
dbValue = "HAITEAM"

userInput.upper() == dbValue.upper()

True

In [61]:
# 문자 치환 (replace)
repLetters = "2017W28"
print(repLetters.replace("W","_"))

2017_28

In [63]:
# 문자 분리 (split)
yearweek_list = yearweek.split("W")
print(yearweek_list)

['21', 'w03']

In [64]:
a = "haiteam             seoul"
b = "team              busan"

In [68]:
a.replace("  ", "").replace(" ","_")

'haiteam_seoul'

In [70]:
# int(정수) , flot(실수)

#문자 →수(정수)
strValue = '1234'
cvIntValue = int(strValue)
print(type(cvIntValue)) 

#문자 → 수(실수)
strValue = '1234'
cvFloatValue = float(strValue)
print(type(cvFloatValue)) 

#숫자 → 문자
numberValue = 1234
cvStrValue = str(numberValue)
print(type(cvStrValue))

<class 'int'>
<class 'float'>
<class 'str'>

In [160]:
#전체문자열 생성
infoValue = "SEC 20180212 250"  

#항목정보-띄어쓰기를 기준으로 항목분리
splitter = " " 
split_name = infoValue.split(splitter) 
stock_name = split_name[0]

#일자
date = infoValue[4:12] 

#분류번호
value = infoValue[-3:]

print(stock_name, date, value) #전체데이터 출력

SEC 20180212 250

In [161]:
 #전체문자열 생성
strValue = "Sec 2018W12 250" ##데이터 분류 선행 (ex.띄어쓰기를 기준으로 분리하겠다)

#항목정보(대문자표기)
stock_name = strValue[:3].upper()

#일자정보(문자열 중"W"삭제 후 데이터 생성)
date = strValue[4:11] 
splitDate = "W"
dateList = date.split(splitDate)
strDate1 = dateList[0]
strDate2 = dateList[1]
finalDate = strDate1 + strDate2 

#분류번호
value = strValue[-3:]

#전체데이터 출력
print (stock_name, finalDate, value)

SEC 201812 250

In [96]:
stock_name = strValue[:3]
upperletter = stock_name.upper()
print(upperletter)

SEC

In [190]:
## 샘플데이터
targetValue = "Sec 2018W12 250" ##데이터 분류 선행 (ex.띄어쓰기를 기준으로 분리하겠다)

#입력데이터를 대문자로 변환한다.
targetValue = targetValue.upper()

#date 컬럼내 삭제 문자열 ("W") 및 구분자를 선언한다.
delchar = "W"
delimeter = " "

#stockName, date, value 값을 추출한다.
delimeterIndex = targetValue.index(delimeter)

stockName = targetValue[:delimeterIndex]

leftedValue = targetValue[delimeterIndex+1:]
delimeterIndex = leftedValue.index(delimeter)
date = leftedValue[:delimeterIndex].replace(delchar,"")

value = leftedValue[delimeterIndex+1:]
value

print(stockName, date, value)

SEC 201812 250

# 리 스 트

In [189]:
 emptyList = []

In [192]:
priceList = [100,150,300,100]

In [193]:
priceList[0]

100

# 복합리스트

In [197]:
stockList = [["sec","201801","100"],
              ["posco","201801","200"]]

In [198]:
stockList[0]

['sec', '201801', '100']

In [203]:
stockList[1][1]

'201801'

# 최소값/최대값

In [212]:
priceList = [0,100,300,1000]

In [213]:
print(max( priceList ))
print(min( priceList ))
print(sum( priceList ))
print(len( priceList ))

1000
0
1400
4

In [215]:
sum(priceList) / len(priceList)

350.0

# 업데이트

In [217]:
updateList = [120,130,140,150]
print(updateList)
updateList[2] = 180
print(updateList)

[120, 130, 140, 150]
[120, 130, 180, 150]

In [232]:
initList = [100,200,300,400]

# 인덱스 활용
initList[0:3]

#리스트는 집합이기 떄문에 집합 연산이 필수
sum(initList) #sum, Len, min, max

#리스트는 수정가능하다.
initList[2] = 1000000

initList.remove(400)
initList.append(30)
initList

[100, 200, 1000000, 30]

In [233]:

#리스트의 유용한 함수
initList.count(2500)
initList

[100, 200, 1000000, 30]

# 데이터정렬

In [311]:
#샘플데이터
initList = [120,150,300,500,1000,100,2000] 

#샘플데이터를 오름차순으로 정렬한다.
initList.sort()

# 최소, 최대값을 뺀 리스트를 구한다.
initList.remove(max(initList))
initList.remove(min(initList))

# 평균값으로 변수를 설정한다
len(initList)
average = int(sum(initList) / len(initList))
print(average)

414