In [4]:
a = 10
b = 5.3

revenue = a/b

revenue

1.8867924528301887

## 소수점 둘째자리 반올림하기

In [22]:
def roundFunction(inValue):
    # 1. 입력받은 데이터를 반올림 자리수만큼 곱해준다.
    # inValue = 1.892320902390 ( 함수를 개발하기 위한 디버깅 코드 )
    step1 = inValue * 100

    # 2. 곱해준 결과에 0.5를 더한 후 소수점 이하 버림(int로 형변환)
    step2 = int(step1 + 0.5)

    # 3. 100으로 나눠준다
    step3 = step2/100
    outValue = step3
    
    return outValue

In [24]:
displatedRevenue = roundFunction(1.3456)

In [25]:
displatedRevenue

1.35

In [28]:
globalValue = 0.3

def roundFunction( inValue ):
    globalValue = 0.5
    localValue = 0.5
    step1 = inValue * 100
    step2 = int(step1 + localValue)
    outvalue = step2 / 100
    return outvalue

print(globalValue)
print(localValue)

0.3

NameError: name 'localValue' is not defined

In [45]:
globalVar = 0.5

In [46]:
def simpleFunction(inValue1, inValue2):
    localValue = 0.0
    defaultValue = localValue
    ## 분모가 0인경우 기본값 1
    if inValue2 != 0:
        defaultValue = inValue1 / inValue2
    else:
        defaultValue = localValue
    outValue = meanValue
    return outValue

In [49]:
simpleFunction(5,0)

1.6666666666666667

In [ ]:
# 함수 입력변수에 따라 소수점 2자리수, 3자리 등의 반올림
# 이 가능하도록 함수를 구현하세요
# (예: roundFunction(12.2225,3) -> 3번째자리 반올림)

In [43]:
def inputValue, roundValue


localValue = 0.0
defaultValue = localValue
if roundValue != 2:
    defaultValue = inputValue / roundValue
elif roundValue != 3:

In [104]:
def roundFunction(inputValue, optionValue):
    stdVal = 0.5
    
    if(optionValue==2): 
        stdVal = 0.5
    elif(optionValue==3): 
        stdVal = 0.05
    else:
        pass
    
    step1 = inputValue * 100
    step2 = int(step1 + stdVal)
    outvalue = step2 / 100
    return outvalue

In [99]:
inputValue  = 12.22432

In [100]:
optionValue = 3

In [101]:
stdVal = 0.5

if(optionValue==2): 
    stdVal = 0.5
elif(optionValue==3): 
    stdVal = 0.05
else:
    pass

In [102]:
stdVal

0.05

In [158]:
inValue = 15.255
optionValue = 2

In [160]:
roundOption(15.678,2)

1.6666666666666667

In [27]:
inValue = 10.567
optionValue = 3

In [28]:
def roundOption(inValue,optionValue):
    step1 = inValue * 10**optionValue
    step2 = int(step1 + 0.5)
    step3 = outvalue = step2 / 10**optionValue
    outValue = step3
print(outvalue)

12.57

In [29]:
outValue

NameError: name 'outValue' is not defined

In [112]:
step2 = int(step1 + 0.5)
outvalue = step2 / 1000
outvalue

12.22324

In [103]:
step1 = inputValue * 100
step2 = int(step1 + stdVal)
outvalue = step2 / 100
outvalue

12.22

In [98]:
roundFunction(0.1665, 3)

0.16

In [93]:
16.65+0.05

16.7

In [72]:
import pandas as pd

In [73]:
mergedSet = []

In [76]:
for i in range(1, 4):
    try:
        fileName = "./a"+str(i)+".txt"
        mergedSet.append(pd.read_csv("./a "+str(i)+".txt"))
    except Exception as e:
        print("에러파일명: {}".format(fileName))
        print(e)

에러파일명: ./a1.txt
[Errno 2] No such file or directory: './a 1.txt'
에러파일명: ./a2.txt
[Errno 2] No such file or directory: './a 2.txt'
에러파일명: ./a3.txt
[Errno 2] No such file or directory: './a 3.txt'

In [45]:
pd.read_csv("./a2.txt")

   a  b  c
0  1  2  3
1  4  5  6

In [46]:
mergedSet.append(pd.read_csv("./a1.txt"))
mergedSet.append(pd.read_csv("./a2.txt"))
mergedSet.append(pd.read_csv("./a3.txt"))

In [47]:
mergedSet[2]

   a  b  c
0  1  2  3
1  4  5  6

In [78]:
## productList를 활용하여 모바일스피커에서 
## "003모델을 제외하고 출력하시오"

In [123]:
tvList = ["LEDTV_UN40EN001", "LEDTV_UN40EN002", "LEDTV_UN40EN003"]
mobileList = ["G3_MO001", "G3_MO002","G3_MO003"]
speakerList = ["BL_SP001", "BL_SP002", "BL_SP003"]
productList = [tvList, mobileList, speakerList]

In [167]:
##반복문사용
for i in range(0,len(productList)):
    productLength = len(productList[i])
    for j in range(0,productLength):
        splitter = "_"
        if(productList[i][j].split(splitter)[0] == "G3") &\
            (productList[i][j].split(splitter)[1][2:] == "003"):
            break
        elif(productList[i][j].split(splitter)[0] == "BL") &\
            (productList[i][j].split(splitter)[1][2:] == "003"):
            break
        print(productList[i][j])

LEDTV_UN40EN001
LEDTV_UN40EN002
LEDTV_UN40EN003
G3_MO001
G3_MO002
BL_SP001
BL_SP002

In [3]:
# 리스트를 정의한다.
tvList = ["LEDTV_UN40EN001", "LEDTV_UN40EN002", "LEDTV_UN40EN003"]
mobileList = ["G3_MO001", "G3_MO002","G3_MO003"]
speakerList = ["BL_SP001", "BL_SP002", "BL_SP003"]
productList = [tvList, mobileList, speakerList]

# productList의 각 범위만큼 반복문을 설정한다.
for i in range(0,len(productList)):
    productLength = len(productList[i])
    
# tv,mobile,speaker 각 리스트별로 다시 반복문과 분리할 splitter를 지정한다.  
    for j in range(0,productLength):
        splitter = "_"

# 제외시킬 mobile/speaker의 003번 모델을 제외시키는 조건문을 설정한다.
        if(productList[i][j].split(splitter)[1][2:] == "003"):
            break


# 값을 출력한다.
        print(productList[i][j])

LEDTV_UN40EN001
LEDTV_UN40EN002
LEDTV_UN40EN003
G3_MO001
G3_MO002
BL_SP001
BL_SP002

In [24]:
tvList = ["LEDTV_UN40EN001", "LEDTV_UN40EN002", "LEDTV_UN40EN003"]
mobileList = ["G3_MO001", "G3_MO002","G3_MO003"]
speakerList = ["BL_SP001", "BL_SP002", "BL_SP003"]

productList = [tvList, mobileList, speakerList]

In [1]:
import pandas as pd

In [4]:
tvList = ["LEDTV_UN40EN001", "LEDTV_UN40EN002", "LEDTV_UN40EN003"]
mobileList = ["G3_MO001", "G3_MO002","G3_MO003"]
speakerList = ["BL_SP001", "BL_SP002", "BL_SP003"]

productList = [tvList, mobileList, speakerList]

speakerList

['BL_SP001', 'BL_SP002', 'BL_SP003']

In [9]:
inchar = "003"
printchar = "LEDTV"

In [ ]:
for j in range(0,len(productList)):
    innerproductList = productList[j]
    for i in range(0,len(innerproductList)):
        itemList = innerproductList[i]
        
        charCnt = itemList.count(inchar) =
        if(printchar)

        charCnt = itemList.count(inchar)
        if charCnt >= 1:
            pass
        else:
            print(itemList)

In [12]:
from yjlab import cFunction as yj

In [13]:
yj.preWeek("202010", 20)

'201942'