# 1. 라이브러리 정의

In [25]:
# 데이터 처리 라이브러리
import pandas as pd
import numpy as np

# 분석 알고리즘 DecisionTree 구현 라이브러리
from sklearn.tree import DecisionTreeRegressor

# 과거 데이터를 8:2, 7:3 이나 이런식으로 자동으로 나눠주는 라이브러리
from sklearn.model_selection import

SyntaxError: invalid syntax (<ipython-input-25-e874eefe1cfa>, line 9)

In [ ]:
f

# 2. 데이터 불러오기

In [8]:
featuresData = \
    pd.read_csv("../dataset/feature_regression_example.csv")

In [9]:
featuresData.head(2)

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225,Y,1,Y,0.209442
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968,N,4,Y,0.209442

# 1. 데이터 전처리

### 1-1. 타입 통합 / 특성 숫자 컬럼추가

### 1-1-1 데이터 타입 통합

In [12]:
featuresData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   REGIONID      105 non-null    object
 1   PRODUCTGROUP  105 non-null    object
 2   PRODUCT       105 non-null    object
 3   ITEM          105 non-null    object
 4   YEARWEEK      105 non-null    int64
 5   YEAR          105 non-null    int64
 6   WEEK          105 non-null    int64
 7   QTY           105 non-null    int64
 8   HOLIDAY       105 non-null    object
 9   HCLUS         105 non-null    int64
 10  PROMOTION     105 non-null    object
 11  PRO_PERCENT   105 non-null    float64
dtypes: float64(1), int64(5), object(6)
memory usage: 10.0+ KB

In [15]:
# 주의할 사항은 모든 컬럼에 대해서 고정시키는걸 고려하는게 나을 수도 있다.
featuresData.QTY = featuresData.QTY.astype(float)

### 1-1-2 특성 값 숫자컬럼 변경

In [16]:
## 이유 : 머신러닝 특성은 숫자형을 지원함 ( 해결 Y : 1로 , N : 0으로 변환)
### 특성도 있고 답도 있다! -> 스스로 학습함

In [18]:
##  어떤 컬럼들이 있는지 확인
featuresData.columns

Index(['REGIONID', 'PRODUCTGROUP', 'PRODUCT', 'ITEM', 'YEARWEEK', 'YEAR',
       'WEEK', 'QTY', 'HOLIDAY', 'HCLUS', 'PROMOTION', 'PRO_PERCENT'],
      dtype='object')

In [21]:
# 전처리( 특성값을 변경하는 방법 )
featuresData["HOLIDAY_NEW"] = \
    np.where(featuresData.HOLIDAY=="Y",1,0)

In [27]:
# pd.DataFrame(featuresData.HOLIDAY.drop_duplicates() ).reset_index().\
#     rename(columns={"index":"HOLIDAY_NEW"})

   HOLIDAY_NEW HOLIDAY
0            0       Y
1            1       N